USE [DB_PEMROGRAMAN_VISUAL]
GO
/****** Object:  Table [dbo].[tbl_mhs]    Script Date: 13/02/2026 00:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_mhs](
	[namaMahasiswa] [varchar](50) NULL,
	[nimMahasiswa] [varchar](20) NULL,
	[jurusanMahasiswa] [varchar](20) NULL,
	[nilaiMahasiswa] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 13/02/2026 00:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user](
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL
) ON [PRIMARY]
GO
